version: '3.8'

services:
  db:
    image: mysql:8.0.35-debian
    container_name: backend_db_prod
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_prod_data:/var/lib/mysql
    networks:
      - prod-network

  app:
    build: .
    container_name: backend_app_prod
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./app_code:/var/www/html/app
      - ./config/backend_prod.conf:/etc/apache2/sites-available/000-default.conf
    depends_on:
      - db
    networks:
      - prod-network

volumes:
  mysql_prod_data:

networks:
  prod-network:
    driver: bridge
